{{ with .Get "xs" }}{{ $.Scratch.Set "xs" . }}{{ else }}{{ $.Scratch.Set "xs" "12" }}{{ end }}
{{ with .Get "sm" }}{{ $.Scratch.Set "sm" . }}{{ else }}{{ $.Scratch.Set "sm" ($.Scratch.Get "xs") }}{{ end }}
{{ with .Get "md" }}{{ $.Scratch.Set "md" . }}{{ else }}{{ $.Scratch.Set "md" ($.Scratch.Get "sm") }}{{ end }}
{{ with .Get "lg" }}{{ $.Scratch.Set "lg" . }}{{ else }}{{ $.Scratch.Set "lg" ($.Scratch.Get "md") }}{{ end }}

<div class='ea-col ea-col-lg-{{ $.Scratch.Get "lg" }} ea-col-md-{{ $.Scratch.Get "md" }} ea-col-sm-{{ $.Scratch.Get "sm" }} ea-col-xs-{{ $.Scratch.Get "xs" }}'>
{{ .Inner }}
</div>
