<div class="vis-doc">
	<a class="vis-btn" href="{{ .Get "doc-url" }}">Documentación y metodología</a><br>
	{{ with .Get "data-url" }}<a href="{{.}}">{{ end }}
	{{ with .Get "data-date" }}<span class="vis-src">Datos Airbnb {{.}}</span>{{ else }}<span class="vis-src">Datos</span>{{ end }}
	{{ with .Get "data-url" }}</a>{{ end }}
	{{ with .Get "data-comments" }} <span class="vis-comments">({{.}})</span>{{ end }}
	{{ with .Get "data-other-url" }}<div><a href="{{.}}">{{ end }}
	{{ with .Get "data-other-text" }}<span class="vis-src">{{.}}</span>{{ end }} {{ with .Get "data-other-date" }}<span class="vis-src-date">{{.}}</span>{{ end }}
	{{ with .Get "data-other-url" }}</a></div>{{ end }}
</div>
